/*--------------------------------------------------------------
>>> OPTIONS PAGE
----------------------------------------------------------------
# Fonts
# Themes
# Alert
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# FONTS
--------------------------------------------------------------*/

@font-face {
	font-family: Roboto;

	src: url(../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
	font-family: Roboto;
	font-weight: 500;

	src: url(../assets/fonts/Roboto-Medium.ttf);
}

@font-face {
	font-family: Roboto;
	font-weight: 700;

	src: url(../assets/fonts/Roboto-Bold.ttf);
}


/*--------------------------------------------------------------
# THEMES
--------------------------------------------------------------*/

body {
	--satus-light: 0, 0, 0;
	--satus-primary: #f6b465;
	--satus-header-background: #fff;
	--satus-header-shadow: 0 0 3px rgba(var(--satus-light), .1), inset 0 -1px 0 rgba(var(--satus-light), .1);
	--satus-header-foreground: #848471;
	--satus-base-background: #f6f6f4;
	--satus-base-foreground: #848471;
	--satus-section-card-background: #fff;
	--satus-section-card-border: rgba(var(--satus-light), .1);
	--satus-modal-background: #f6f6f4;
	--satus-modal-border: rgba(var(--satus-light), .1);
	--satus-modal-text: #848471;
	--satus-tabs-background: #e8e8e3;
	--satus-tabs-foreground: #fff;
}

body[theme='dark'] {
	--satus-light: 255, 255, 255;
	--satus-primary: #8f8f8f;
	--satus-base-background: #000;
	--satus-base-foreground: #ccc;
	--satus-switch-background: rgba(var(--satus-light), .08);
	--satus-header-background: #1f1f1f;
	--satus-header-border: rgba(var(--satus-light), .08);
	--satus-header-foreground: #ccc;
	--satus-layers-background: #000;
	--satus-layers-foreground: #ccc;
	--satus-section-background: #1e1e1e;
	--satus-section-border: rgba(var(--satus-light), .08);
	--satus-modal-background: #212121;
	--satus-modal-border: rgba(var(--satus-light), .08);
	--satus-modal-shadow: 0 1px 4px rgba(var(--satus-light), .08);
	--satus-modal-foreground: #ccc;
	--satus-hover: rgba(var(--satus-light), .05);
	--satus-input-text-background: #333;
	--satus-input-text-border: #525252;
	--satus-input-text-foreground: #ccc;
	--satus-switch-track: #111;
	--satus-switch-track--active: var(--satus-primary);
	--satus-switch-thumb: #ddd;
	--satus-tooltip: rgba(var(--satus-light), .4);
	--satus-sortable-ghost: rgba(var(--satus-light), .8);
	--satus-sortable-background: rgba(var(--satus-light), .1);
	--satus-sortable-foreground: #fff;
	--satus-divider: rgba(var(--satus-light), .08);
	--satus-tabs-background: #111;
	--satus-tabs-foreground: #2e2e2e;
	--satus-tabs-border: #2f2f2f;
	--satus-checkbox--background: rgb(var(--satus-light), .08);
	--satus-checkbox--border: #2f2f2f;
	--satus-checkbox--mark: #fff;
	--satus-alert-error-background: #501616;
	--satus-alert-error-border: #6f1f1f;
	--satus-alert-error-color: #cf7777;
}


/*--------------------------------------------------------------
# ALERT
--------------------------------------------------------------*/

.satus-alert--success {
	overflow: hidden;

	padding: 0;

	color: rgb(184, 115, 30);
	border: 1px solid rgb(246, 180, 101, .6);
	background: rgb(246, 180, 101, .32);
}

.satus-alert--success>.satus-switch {
	width: 100%;
	height: 48px;
	padding: 8px 12px;

	transition: background-color .3s cubic-bezier(.25, .8, .5, 1);

	--satus-switch-track: #f8c78b;
	--satus-switch-track--checked: #f6b465;
	--satus-switch-thumb: rgba(255, 255, 255, .88);
}

.satus-alert--success>.satus-switch:hover {
	background-color: rgba(var(--satus-light), .04);
}


/*--------------------------------------------------------------
# CUSTOM
--------------------------------------------------------------*/

.satus-section--custom {
	position: relative;

	height: 48px;

	align-items: center;
}

.satus-section--custom>.satus-button:first-child {
	width: 100%;
	height: 100%;
}

.satus-section--custom>.satus-button:first-child:focus,
.satus-section--custom>.satus-button:first-child:hover {
	background: transparent;
}

.satus-section--custom>.satus-button:first-child .satus-shortcut__value {
	margin-left: 4px;

	justify-content: flex-start;
}

.satus-section--custom>.satus-button--remove {
	position: absolute;
	right: 12px;

	display: none;

	width: 28px;
	height: 28px;
	padding: 5px;

	border-radius: 50%;
}

.satus-section--custom:hover>.satus-button--remove {
	display: inline-flex;
}

.satus-shortcut__key {
	font-size: 12px;

	color: inherit;
}