/*--------------------------------------------------------------
>>> USER INTERFACE:
----------------------------------------------------------------
# ...
# Made with love
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# ...
--------------------------------------------------------------*/

body:not([theme=dark]):not([theme=black]) {
    --satus-switch--domain-background: #ffefd5;
    --satus-switch--domain-border: #f9e0b8;
    --satus-switch--domain-color: #ad7622;
    --satus-switch--domain-background-focus: #ffefd5;
    --satus-switch--domain-border-focus: #f9e0b8;
    --satus-switch--domain-color-focus: #ad7622;
}

body[theme=dark],
body[theme=black] {
    --satus-switch--domain-background: #1c2d36;
    --satus-switch--domain-border: #233843;
    --satus-switch--domain-color: #7d95a1;
    --satus-switch--domain-background-focus: #233843;
    --satus-switch--domain-border-focus: #2a4350;
    --satus-switch--domain-color-focus: #899ea9;
}

.satus-header {
    font-size: 15px;
    font-weight: 600;
}

.satus-switch--domain {
    width: 100%;
    margin: 8px 0 0;
    height: 48px;
    padding: 0 16px;
    transition: 150ms;
    color: var(--satus-switch--domain-color);
    border: 1px solid var(--satus-switch--domain-border);
    border-radius: 8px;
    background-color: var(--satus-switch--domain-background);
}

.satus-switch--domain:focus,
.satus-switch--domain:hover {
    color: var(--satus-switch--domain-color-focus);
    border-color: var(--satus-switch--domain-border-focus);
    background-color: var(--satus-switch--domain-background-focus);
}

.satus-switch--domain[data-value='true'] .satus-switch__thumb {
    background-color: #375a6c;
}

.satus-alert {
    width: 100%;
    margin: 8px 0 0;
}

.satus-section--label {
    font-size: 14px;
    font-weight: 600;
}

.satus-layers .satus-tabs {
    width: 100%;
    margin: 8px 0 4px;
}

.satus-div--create {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 72px;
    background: #fff;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -4px 8px rgb(0,0,0,.15);
}

.satus-shortcut--create {
    font-weight: 700;
    width: calc(100% - 32px);
    color: #fff;
    border-radius: 24px;
    background: #f96754;
    justify-content: center;
}

.satus-shortcut--create:focus,
.satus-shortcut--create:hover {
    background: #f96754;
}

.satus-section--row {
    padding: 0 !important;
    position: relative;
    display: flex;
    height: 48px;
    overflow: hidden;
    transition: height .2s;
}

.satus-section--row > .satus-shortcut {
    width: 100%;
}

.satus-button--remove {
    position: absolute;
    right: 8px;
    visibility: hidden;
    overflow: hidden;
    width: 36px;
    height: 36px;
    min-height: 36px;
    padding: 8px;
    border-radius: 50%;
}

.satus-shortcut:hover + .satus-button--remove,
.satus-button--remove:hover
{
    visibility: visible;
}


/*--------------------------------------------------------------
# MADE WITH LOVE
--------------------------------------------------------------*/

.made-with-love {
    font-size: 13px;
    position: absolute;
    bottom: 16px;
    left: 50%;
    width: 100%;
    height: auto;
    min-height: auto;
    padding: 0;
    cursor: pointer;
    transition: 150ms;
    transform: translateX(-50%);
    text-align: center;
    text-decoration: none;
    color: inherit;
    justify-content: center;
}

.satus-base[data-hide-made-with-love=true] .made-with-love {
    display: none;
}

.made-with-love svg {
    position: relative;
    top: 4px;
    width: 16px;
    height: 16px;
    fill: #d62121;
}

.satus.dark .made-with-love svg {
    fill: #704343;
}

.made-with-love span {
    margin: 0 0 0 4px;
}