/*---------------------------------------------------------------
>>> HID control prevention
-----------------------------------------------------------------
1.0 Fonts
2.0 Themes
3.0 Document
4.0 Header
5.0 Main
6.0 Footer
---------------------------------------------------------------*/

/*---------------------------------------------------------------
1.0 FONTS
---------------------------------------------------------------*/

@font-face
{
    font-family: 'Open Sans';

    src: url(../assets/fonts/OpenSans-Regular.ttf);
}

@font-face
{
    font-family: 'Open Sans';
    font-weight: 600;

    src: url(../assets/fonts/OpenSans-SemiBold.ttf);
}


/*---------------------------------------------------------------
2.0 THEMES
---------------------------------------------------------------*/

html
{
    --satus-theme-header: #fcfbfd;
    --satus-theme-header-text: #726f72;
    --satus-theme-main: #f8f6f8;
    --satus-theme-main-text: #726f72;
}


/*---------------------------------------------------------------
3.0 DOCUMENT
---------------------------------------------------------------*/

html,
body
{
    font-family: 'Open Sans', sans-serif;

    width: 320px;
    height: 500px;
    margin: 0;
}


/*---------------------------------------------------------------
4.0 HEADER
---------------------------------------------------------------*/




/*---------------------------------------------------------------
5.0 MAIN
---------------------------------------------------------------*/

.satus-main
{
    font-size: 14px;
}

.satus-section--shortcuts .satus-shortcut__label,
.satus-shortcut--create .satus-shortcut__value
{
    display: none;
}

.satus-section--shortcuts > *:nth-child(2n)
{
    background: #f7f7f7;
}

.satus-tabs
{
    height: calc(100vh - 58px);
}

.satus-tabs__main
{
    height: calc(100vh - 112px)
}


/*---------------------------------------------------------------
6.0 SECTION
---------------------------------------------------------------*/

.satus-main .satus-section
{
    display: block;

    width: calc(100% - 16px);
    max-width: 900px;
    margin: 8px auto;
    padding: 8px 0;

    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 8px;
}

.satus-main .satus-section.satus-section--tooltip
{
    padding: 0;

    border: none;
    background: none;
    box-shadow: none;
}

.satus-section--tooltip .satus-text
{
    line-height: 14px;

    display: block;

    padding: 16px;

    color: #ad5f5f;
    border: 1px solid #ecd7d7;
    border-radius: 8px;
    background: #fde6e6;
}

.satus-section--tooltip .satus-switch
{
    height: 48px;

    border: 1px solid #f9e0b8;
    border-radius: 8px;
    background: #ffefd5;
}

.satus-section--tooltip .satus-switch:hover
{
    background: #ffe7c1;
}

.satus-section--tooltip  .satus-switch__label
{
    color: #ad7622;
}

.satus-section--tooltip .satus-switch__track
{
    background-color: rgba(0, 0, 0, .1);
}

.satus-section--tooltip .satus-switch__track::after
{
    background-color: rgba(255, 255, 255, .7);
}

.satus-section--tooltip .satus-switch__input
{
    cursor: pointer;
}

.satus-section--tooltip .satus-switch__input:checked + .satus-switch__track
{
    background: rgba(246, 180, 101, .9);
}

















.satus-main .satus-button
{
    width: 100%;
    height: 48px;
    min-height: 48px;
    padding: 0 16px;
}








.satus-main .satus-folder svg
{
    width: 20px;
    height: 20px;
    margin: 0 14px 0 0;
}










.satus-select[data-storage-key=language]
{
    padding-left: 50px;
}

.satus-select[data-storage-key=language] svg
{
    position: absolute;
    left: 16px;

    width: 20px;
    height: 20px;

    stroke: none;
}











/*---------------------------------------------------------------
10.0 MADE WITH LOVE
---------------------------------------------------------------*/

.made-with-love
{
    font-size: 13px;

    position: absolute;
    bottom: 16px;
    left: 50%;

    width: 100%;
    height: auto;
    min-height: auto;
    padding: 0;

    cursor: pointer;
    transform: translateX(-50%);
    text-align: center;

    justify-content: center;
}

.made-with-love svg
{
    position: relative;
    top: 4px;

    width: 16px;
    height: 16px;

    fill: #d62121;
}

.made-with-love span
{
    margin: 0 0 0 4px;
}






.satus-main .satus-button--create
{
    position: fixed;
    right: 16px;
    bottom: 16px;

    display: block;

    width: 56px;
    height: 56px;
    padding: 0;

    transition: background 500ms 250ms, transform 500ms, box-shadow 525ms;

    color: #fff;
    border-radius: 50%;
    background: linear-gradient(135deg, #f8d266, #f17953);
    box-shadow: 0 2px 1px 1px rgba(230, 109, 70, .7), 0 3px 5px rgba(0,0,0,.35);
}

.satus-button--create::before
{
    content: none;
}









.satus-dialog--create .satus-text
{
    display: block;

    width: calc(100% - 32px);
    margin: 0 16px;
}

.satus-dialog--create .satus-select
{
    font-size: 1rem;

    width: calc(100% - 32px);
    margin: 8px 16px;
    padding: 4px 8px;

    border: 1px solid #e8e8e8;
    border-radius: 4px;
    background-color: #fff;
}

.satus-dialog--create .satus-select__label
{
    display: none;
}

.satus-dialog--create .satus-select__value
{
    font-size: inherit;
    font-weight: 400;

    text-align: left;

    opacity: 1;
    color: var(--satus-theme-dialog-text);
}

.satus-dialog--create .satus-section
{
    width: calc(100% - 32px);
    margin: 8px 16px 4px;
    padding: 8px 0 4px;

    border-top: 1px solid #e8e8e8;

    justify-content: flex-end;
}

.satus-dialog--create .satus-button
{
    font: 600 .875rem 'Open Sans';

    overflow: hidden;

    padding: 8px 16px;

    letter-spacing: .2px;

    color: var(--satus-theme-primary);
    border-radius: 4px;
}

.satus-dialog--create .satus-button:hover
{
    background-color: rgba(0,0,0,.03);
}

.satus-dialog--create .satus-button::before
{
    content: none;
}













.satus-section.satus-section--shortcuts
{
    margin-bottom: 88px
}

.satus-section--shortcuts .satus-section
{
    width: 100%;
    margin: 0;
    padding: 0;

    border: 0;
    border-radius: 0;
}

.satus-section.satus-section--row
{
    position: relative;

    display: flex;
    height: 48px;
    overflow: hidden;
    
    transition: height .2s;
}

.satus-button.satus-button--remove
{
    position: absolute;
    right: 8px;

    visibility: hidden;
    overflow: hidden;

    width: 36px;
    height: 36px;
    min-height: 36px;
    padding: 8px;

    border-radius: 50%;
}

.satus-shortcut:hover + .satus-button--remove,
.satus-button--remove:hover
{
    visibility: visible;
}

.satus-div--create
{
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 72px;
    background: #fff;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -4px 8px rgba(0,0,0,.15);
}

.satus-shortcut--create
{
    font-weight: 700;

    width: calc(100% - 32px);

    color: #fff;
    border-radius: 24px;
    background: #f96754;

    justify-content: center;
}

.satus-shortcut--create:hover
{
    background: #f96754;
}

.satus-shortcut--create .satus-shortcut__label
{
    text-align: center
}


/*---------------------------------------------------------------
9.0 ABOUT
---------------------------------------------------------------*/

.satus-main__container[data-appearance='about'] .satus-text
{
    display: flex;

    box-sizing: border-box;
    width: 100%;
    min-height: 48px;
    padding: 0 16px;

    justify-content: space-between;
    align-items: center;
}

.satus-main__container[data-appearance='about'] .satus-text__value
{
    text-align: right;

    opacity: .7;
}
